.mainDiv {
  @media screen and (min-width: 768px) {
    width: 65%;
    display: flex;
    justify-content: flex-end;
    align-items: flex-end;
    margin: 0;
  }

  @media screen and (min-width: 1500px) {
    margin-right: 5%;
  }

  @media screen and (min-width: 1600px) {
    margin-right: 8%;
  }

  @media screen and (min-width: 1700px) {
    margin-right: 10%;
  }

  @media screen and (min-width: 1800px) {
    margin-right: 12%;
  }

  @media screen and (min-width: 1900px) {
    margin-right: 14.5%;
  }
}

.posts {
  margin: 0 8%;

  @media screen and (min-width: 1200px) {
    margin: 5% 8%;
  }
}

.post {
  background-color: white;
  border-radius: 10px;
  margin: 10% 3%;
  box-shadow: 0 3px 10px #c7c7c7;

  @media screen and (min-width: 400px) {
    margin: 10% 1%;
  }

  @media screen and (min-width: 1200px) {
    margin: 3% 0;
  }
}

.postImage {
  width: 100%;
  background-size: cover;
  border-top-right-radius: 10px;
  border-top-left-radius: 10px;
  height: 240px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.postTitle {
  font-size: 18px;
  color: #000;
  padding: 6% 5% 3%;

  @media screen and (min-width: 1200px) {
    padding: 3%;
  }
}

.postText {
  font-size: 14px;
  color: #676767;
  padding: 0 5% 6%;

  @media screen and (min-width: 600px) {
    padding: 0 4% 5%;
  }

  @media screen and (min-width: 1200px) {
    font-size: 16px;
    padding: 0 3% 3%;
  }
}

.postVideo {
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
}

.linkContainer {
  display: block;
  justify-content: center;
  align-items: center;
}

.postLinkImage {
  height: 240px;
  background-size: cover;
  border-top-right-radius: 10px;
  border-top-left-radius: 10px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.postLinkButton {
  width: 210px;
  height: 45px;
  background-color: white;
  border-radius: 35px;
  color: #51a9f2;
  border-color: transparent;
  padding: 14px 20px;
  letter-spacing: 2px;
  font-weight: 300;
  display: flex;
  align-items: center;
  justify-content: center;
  z-index: 999;
  margin: -140px 15% 90px;

  @media screen and (min-width: 400px) {
    margin: -140px 20% 90px;
  }

  @media screen and (min-width: 460px) {
    margin: -140px 25% 90px;
  }

  @media screen and (min-width: 600px) {
    margin: -140px 30% 90px;
  }

  @media screen and (min-width: 1200px) {
    margin: -140px 35% 100px;
  }
}
