.container {
  background: white;
  display: flex;
  flex-wrap: wrap;
  margin-top: 1.5rem;
}

.profile {
  width: 40%;
  padding: 1.5rem 2.25rem 1.875rem;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
}

.image {
  border-radius: 50%;
  width: 100px;
}

.name {
  font-size: 0.875rem;
  font-weight: normal;
  color: #2f2f2f;
  margin-bottom: 0;
  text-align: center;
}

.position {
  color: #747e80;
  font-size: 0.75rem;
  font-weight: normal;
  margin: 0;
  text-align: center;
}

.textWrapper {
  width: 60%;
  font-size: 0.75rem;
  padding: 1rem 2rem 1rem 0;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
}
