.cardsContainer {
  width: 85%;
  height: 35%;
  margin: auto;

  @media screen and (min-width: 1024px) {
    display: flex;
    flex-direction: row-reverse;
    justify-content: space-between;
  }
}

.contact {
  width: 100%;

  @media screen and (min-width: 1024px) {
    width: 26%;
  }
}

.contactUs {
  width: 100%;

  @media screen and (min-width: 1024px) {
    width: 50%;
  }
}
