.container {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 5%;

  @media screen and (min-width: 768px) {
    margin-bottom: 16%;
  }
}

.cardsContainer {
  width: 85%;
  height: 35%;

  @media screen and (min-width: 768px) {
    display: flex;
    flex-direction: row-reverse;
    justify-content: space-between;
  }
}

.contact {
  width: 100%;

  @media screen and (min-width: 1024px) {
    width: 26%;
  }
}

.contactUs {
  width: 100%;

  @media screen and (min-width: 1024px) {
    width: 50%;
  }
}
