:root {
  --startupsHeader-height: 65px;
  --startupsHeader-bg: #f7f7f7;
}

.normalizeButton {
  border: 0;
  margin: 0;
  padding: 0;
}

.scrollButton {
  composes: normalizeButton;
  height: var(--startupsHeader-height);
  position: absolute;
  top: 80px;
  color: #828282;
  background: var(--startupsHeader-bg);
  width: 25px;
}

.startupsHeader {
  width: 100%;
  background: var(--startupsHeader-bg);
  height: var(--startupsHeader-height);
  overflow: hidden;
  display: flex;
}

.centerLogos {
  justify-content: center;
  align-items: center;
}

.scrollLeftButton {
  composes: scrollButton;
  left: 0;
}

.logos {
  width: auto;
  height: 40px;
  margin: 13px 7px 12px 33px;
  display: flex;
}

.scrollRightButton {
  composes: scrollButton;
  right: 0;
}

.logoButton {
  composes: normalizeButton;
  width: 38px;
  height: 38px;
  margin-right: 30px;
  background: transparent;
}

.logo {
  width: 100%;
  height: 100%;
}

.defaultStartupText {
  width: 100%;
  text-align: center;
  color: white;
  font-family: ProximaNova;
  font-size: 16px;
  margin: 0;
  line-height: 28px;
  -webkit-font-smoothing: antialiased;

  @media screen and (min-width: 1024px) {
    font-size: 18px;
    width: 469px;
  }
}

.defaultStartupTitle {
  width: 100%;
  text-align: center;
  color: white;
  font-family: ProximaNova;
  font-size: 24px;
  margin: 0;
  line-height: 50px;
  -webkit-font-smoothing: antialiased;

  @media screen and (min-width: 512px) {
    font-size: 24px;
  }

  @media screen and (min-width: 640px) {
    font-size: 24px;
  }

  @media screen and (min-width: 768px) {
    font-size: 27px;
    padding-bottom: 5px;
  }

  @media screen and (min-width: 896px) {
    font-size: 27px;
  }

  @media screen and (min-width: 1024px) {
    font-size: 44px;
    padding-bottom: 17px;
  }
}

.content {
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: #f3f3f3;
}

.info {
  text-align: center;
}

.defaultBox {
  display: block;
  margin: 28px 47px 250px 45px;
  padding: 0;
  border: 0;
  flex-direction: column;
  align-items: center;
  text-align: center;

  @media screen and (min-width: 512px) {
    margin: 28px 47px 250px 45px;
  }

  @media screen and (min-width: 600px) {
    margin: 30px 80px 320px 88px;
  }

  @media screen and (min-width: 640px) {
    margin: 33px 90px 400px 95px;
  }

  @media screen and (min-width: 646px) {
    margin: 33px 120px 400px 97px;
  }

  @media screen and (min-width: 680px) {
    margin: 38px 140px 477px 100px;
  }

  @media screen and (min-width: 768px) {
    margin: 46px 150px 577px 170px;
  }

  @media screen and (min-width: 896px) {
    margin: 53px 200px 577px 250px;
  }

  @media screen and (min-width: 1000px) {
    margin: 60px 250px 650px 258px;
  }

  @media screen and (min-width: 1024px) {
    margin: 71px 250px 650px 258px;
    display: flex;
    align-items: center;
    justify-content: center;
  }
}

.imageWrapper {
  display: flex;
  height: 209px;
  width: 518px;

  @media screen and (min-width: 560px) {
    height: 240px;
    width: 100%;
  }

  @media screen and (min-width: 660px) {
    height: 280px;
    width: 100%;
  }

  @media screen and (min-width: 768px) {
    height: 320px;
    width: 100%;
  }
}

.imageStartup {
  height: 100%;
  width: 100%;
  background-size: contain;
}

.startupText {
  display: flex;
  width: 90%;
  padding-left: 15%;
  text-align: center;
  color: #303234;
  font-family: ProximaNova;
  font-size: 24px;
  line-height: 38px;
  margin-top: 0;
  margin-bottom: 0;
  padding-bottom: 18px;
  font-weight: normal;
  -webkit-font-smoothing: antialiased;

  @media screen and (min-width: 480px) {
    width: 80%;
    padding-left: 25%;
  }

  @media screen and (min-width: 512px) {
    font-size: 24px;
    line-height: 40px;
    padding-bottom: 22px;
    width: 80%;
    padding-left: 25%;
  }

  @media screen and (min-width: 640px) {
    font-size: 30px;
    line-height: 36px;
    width: 80%;
    padding-left: 25%;
  }

  @media screen and (min-width: 768px) {
    font-size: 36px;
    line-height: 50px;
    padding-bottom: 41px;
    width: 80%;
    padding-left: 25%;
  }

  @media screen and (min-width: 896px) {
    font-size: 41px;
    line-height: 50px;
    width: 80%;
    padding-left: 25%;
  }

  @media screen and (min-width: 1024px) {
    font-size: 48px;
    line-height: 60px;
    padding-bottom: 14px;
    width: 80%;
    padding-left: 25%;
  }
}

.startupTitle {
  width: 80%;
  padding-left: 25%;
  text-align: center;
  color: #303234;
  font-family: ProximaNova;
  font-size: 20px;
  line-height: 50px;
  margin-bottom: 0;
  margin-top: 0;
  padding-top: 41px;
  -webkit-font-smoothing: antialiased;
  font-weight: normal;

  @media screen and (min-width: 512px) {
    font-size: 22px;
    padding-top: 49px;
  }

  @media screen and (min-width: 640px) {
    font-size: 23px;
    padding-top: 57px;
  }

  @media screen and (min-width: 768px) {
    font-size: 24px;
    padding-bottom: 5px;
    padding-top: 61px;
  }

  @media screen and (min-width: 896px) {
    font-size: 30px;
    padding-bottom: 6px;
    padding-top: 75px;
  }

  @media screen and (min-width: 1024px) {
    font-size: 36px;
    padding-bottom: 6px;
    padding-top: 85px;
  }
}

.learnMore {
  width: 80%;
  padding-left: 25%;
  text-align: center;
  color: #51a9f2;
  font-family: ProximaNova;
  text-decoration: underline;
  padding-bottom: 5%;
  font-size: 20px;
  line-height: 57px;
  margin-top: 0;
  -webkit-font-smoothing: antialiased;

  @media screen and (min-width: 512px) {
    font-size: 24px;
  }

  @media screen and (min-width: 640px) {
    font-size: 24px;
  }

  @media screen and (min-width: 768px) {
    font-size: 24px;
  }

  @media screen and (min-width: 896px) {
    font-size: 24px;
  }

  @media screen and (min-width: 1024px) {
    font-size: 24px;
  }
}

.backgroundStartup {
  width: 100%;
  height: 580px;
  background-size: 904px 580px !important;

  @media screen and (min-width: 768px) {
    background-size: 1200px 818px !important;
    height: 818px;
  }

  @media screen and (min-width: 1400px) {
    background-size: 1700px 1010px !important;
  }
}
