.root {
  height: 7.5rem;
  margin-top: 1.5rem;
  display: block;
  width: 100%;
  padding: 0 22px;

  @media screen and (min-width: 48rem) {
    padding: 0;
    margin-right: 1.69492%;
    width: 32.20339%;
  }

  @media screen and (min-width: 62rem) {
    width: 100%;
    height: 9rem;
  }
}

.root:nth-child(3n) {
  @media screen and (min-width: 48rem) {
    margin-right: 0;
  }
}

.root:first-child {
  @media screen and (min-width: 62rem) {
    margin-top: 0;
  }
}

.container {
  composes: grow from 'tachyons/src/_hovers.css';
  height: 100%;
  display: flex;
  margin-top: 0;
  margin-bottom: 1.5rem;
  text-align: left;
  background: #fff;
  box-shadow: 12px 15px 20px 0 rgba(46, 61, 73, 0.15);
  border-radius: 0.375rem;
  transition: all 0.3s ease;
}

.container:hover {
  text-decoration: none;
}

.image {
  border-bottom-left-radius: 0.375rem;
  border-top-left-radius: 0.375rem;
  height: 100%;
  width: auto;
  margin-right: 27px;

  @media screen and (min-width: 48rem) {
    margin-right: 12px;
  }

  @media screen and (min-width: 62rem) {
    margin-right: 27px;
  }
}

.heading {
  color: #303234;
  padding: 0;
  margin: 18px 10px 11px 0;
  margin-left: 1px;
  font-size: 13px;
  font-weight: normal;
  line-height: normal;

  @media screen and (min-width: 375px) {
    font-size: 18px;
    margin: 18px 10px 11px 0;
    line-height: 1rem;
  }

  @media screen and (min-width: 48rem) {
    margin-left: 1px;
    font-size: 13px;
    line-height: normal;
  }

  @media screen and (min-width: 62rem) {
    font-size: 18px;
  }
}

.detail {
  color: #747e80;
  font-size: 14px;
  margin: 0 20px 10px 0;
  line-height: 1rem;

  @media screen and (min-width: 48rem) {
    margin-left: 1px;
    font-size: 10px;
  }

  @media screen and (min-width: 62rem) {
    font-size: 14px;
  }
}
