.root {
  height: 7.5rem;
  margin-top: 1.5rem;
  float: left;
  display: block;
  width: 100%;
  padding: 0 22px;
}

.container {
  composes: grow from 'tachyons/src/_hovers.css';
  height: 100%;
  display: flex;
  margin-top: 0;
  margin-bottom: 1.5rem;
  text-align: left;
  background: #fff;
  box-shadow: 12px 15px 20px 0 rgba(46, 61, 73, 0.15);
  border-radius: 0.375rem;
  transition: all 0.3s ease;
}

.container:hover {
  text-decoration: none;
}

.image {
  border-bottom-left-radius: 0.375rem;
  border-top-left-radius: 0.375rem;
  height: 7.5rem;
  width: auto;
  margin-right: 27px;
}

.heading {
  color: #303234;
  padding: 0;
  font-size: 18px;
  font-weight: normal;
  margin: 18px 10px 11px 0;
}

.detail {
  color: #747e80;
  font-size: 14px;
  margin: 0 20px 10px 0;
  line-height: 1rem;
}

@media screen and (min-width: 48rem) {
  .root {
    padding: 0;
    margin-left: 6px;
    margin-right: 6px;
  }

  .root:first-child {
    margin-left: 12px;
    margin-right: 0;
  }

  .root:last-child {
    margin-left: 0;
    margin-right: 12px;
  }

  .image {
    margin-right: 12px;
  }

  .heading {
    margin-left: 1px;
    font-size: 13px;
    line-height: normal;
  }

  .detail {
    margin-left: 1px;
    font-size: 10px;
  }
}
