.root {
  height: 7.5rem;
  margin-top: 1.5rem;
  float: left;
  display: block;
  margin-right: 1.69492%;
  width: 100%;
  padding: 0 1.5rem;
}

.container {
  composes: grow from 'tachyons/src/_hovers.css';
  height: 100%;
  display: flex;
  margin-top: 0;
  margin-bottom: 1.5rem;
  text-align: left;
  background: #fff;
  box-shadow: 12px 15px 20px 0 rgba(46, 61, 73, 0.15);
  border-radius: 0.375rem;
  transition: all 0.3s ease;
}

.container:hover {
  text-decoration: none;
}

.image {
  border-bottom-left-radius: 0.375rem;
  border-top-left-radius: 0.375rem;
  height: 7.5rem;
  width: auto;
  margin-right: 27px;
}

.heading {
  font-size: 18px;
  font-weight: normal;
  margin: 18px 20px 11px 0;
}

.detail {
  font-size: 14px;
  margin: 0 20px 0 0;
  line-height: normal;
}
