.wrapper {
  display: flex;
  flex-direction: column;
}

.title {
  text-align: center;
  margin: 0;
  padding-top: 12px;
  padding-bottom: 12px;
  color: #303234;
  font-size: 18px;
  align-self: center;

  @media screen and (min-width: 409px) {
    text-align: left;
    padding-bottom: 0;
    align-self: flex-start;
  }
}

.meta {
  font-size: 0.75rem;
  opacity: 0.6;
}

.description {
  font-size: 0.85rem;
}

.readMore {
  /* align-self: center; */
  display: inline-flex;
  margin-top: 1rem;
  border-radius: 3px;
  font-size: 0.8rem;
  text-align: center;
  border-bottom: 0 !important;
  text-decoration: none !important;
}
