.container {
  background: white;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  margin-top: 5.375rem;

  @media screen and (min-width: 25rem) {
    width: 180px;
    margin-left: 0.5rem;
  }

  @media screen and (min-width: 48rem) {
    width: 24.5%;
    margin-left: 0.5%;
  }

  @media screen and (min-width: 62rem) {
    width: 23.5%;
    margin-left: 1.5%;
  }
}

.container:first-child {
  @media screen and (min-width: 25rem) {
    margin-left: 0;
  }
}

.profile {
  width: 40%;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
}

.image {
  border-radius: 50%;
  width: 100px;
  height: 100px;
  margin-top: -50px;

  @media screen and (min-width: 25rem) {
    width: 4rem;
    height: 4rem;
    margin-top: -2rem;
  }
}

.name {
  font-size: 0.875rem;
  font-weight: normal;
  color: #2f2f2f;
  margin-bottom: 0;
  text-align: center;
  line-height: 1rem;
}

.position {
  color: #747e80;
  font-size: 0.75rem;
  font-weight: normal;
  margin: 0;
  text-align: center;
  line-height: 1rem;
}

.text {
  font-size: 0.75rem;
  padding: 1rem 2.25rem 2rem;
  text-align: center;
  line-height: 1rem;
  color: #747e80;

  @media screen and (min-width: 25rem) {
    font-size: 0.625rem;
    padding: 0.5rem 1rem;
  }
}
