.container {
  background: white;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  margin-top: 5.375rem;

  @media screen and (min-width: 25rem) {
    width: 180px;
    margin-left: 0.5rem;
  }

  @media screen and (min-width: 48rem) {
    width: 24.5%;
    margin-left: 0.5%;
  }

  @media screen and (min-width: 62rem) {
    width: 23.5%;
    margin-left: 0;
  }
}

.container:first-child {
  @media screen and (min-width: 25rem) {
    margin-left: 0;
  }
}

.profile {
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
}

.image {
  overflow: hidden;
  border-radius: 50%;
  max-width: 100px;
  max-height: 100px;
  min-width: 100px;
  min-height: 100px;
  margin-top: -50px;

  @media screen and (min-width: 25rem) {
    width: 75px;
    height: 75px;
    margin-top: -37.5px;
  }

  @media screen and (min-width: 68rem) {
    width: 40%;
    height: auto;
    max-width: 130px;
  }
}

.name {
  font-size: 0.875rem;
  font-weight: normal;
  color: #2f2f2f;
  margin-bottom: 0.25rem;
  text-align: center;
  line-height: 1rem;
  width: 100%;
}

.position {
  color: #747e80;
  font-size: 0.75rem;
  font-weight: normal;
  margin: 0;
  text-align: center;
  line-height: 1rem;
  width: 100%;
}

.text {
  font-size: 0.75rem;
  padding: 1rem 2.25rem 2rem;
  text-align: center;
  line-height: 1rem;
  color: #747e80;

  @media screen and (min-width: 25rem) {
    padding: 1rem;
  }

  @media screen and (min-width: 62rem) {
    padding-bottom: 2rem;
  }
}
