:root {
  --header-height: 80px;
  --header-bg-color: #51A9F2;
}

.header {
  height: var(--header-height);
  width: 100%;
  background-color: var(--header-bg-color);
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
  padding: 0 1rem;
}

.logoContainer {
  height: var(--header-height);
}

.logo {
  max-height: 100%;
  max-width: 100%;
}

.burgerContainer {

}

.burger {
  font-size: 1.5rem;
  color: white;
  min-width: 48px;
  min-height:48px;
}
