:root {
  --headerHeight: 80px;
}

.headerWrapper {
  height: var(--headerHeight);
  width: 100%;
  background-color: var(--colorPrimary);
  color: white;
  z-index: 9999;

  @media screen and (min-width: 48rem) {
    height: 6rem;
  }

  @media screen and (min-width: 62rem) {
    background-color: transparent;
  }
}

.white {
  background-color: #fff;
  color: var(--colorPrimary);
}

.header {
  height: 100%;
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
  padding: 0 36px;
  max-width: 73.75rem;
  margin: 0 auto;

  @media screen and (min-width: 73.75rem) {
    padding: 0;
  }
}

.logoLink {
  display: flex;
  cursor: pointer;
}

.logo {
  composes: grow from 'tachyons/src/_hovers.css';
  max-height: 100%;
  max-width: 100%;
}

.nav {
  visibility: hidden;
  opacity: 0;
  width: 0;
  height: 0;
  transition: opacity 0.25s linear;
  display: flex;
  position: absolute;
  top: -9999px;
  left: -9999px;

  @media screen and (min-width: 62rem) {
    height: 100%;
    visibility: visible;
    opacity: 1;
    width: auto;
    position: static;
    background: transparent;
    flex-wrap: wrap;
    align-items: center;
    font-size: 16px;
    transition-delay: 0s;
  }
}

.navWhite {
  @media screen and (min-width: 62rem) {
    background: white;
  }
}

.open {
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  position: absolute;
  top: var(--headerHeight);
  left: 0;
  background: #66baff;
  color: white;
  width: 100%;
  height: 100%;
  min-height: 360px;
  max-height: 560px;
  padding-top: 50px;
  padding-bottom: 111px;
  font-size: 24px;
  font-weight: 300;
  visibility: visible;
  opacity: 1;

  @media screen and (min-width: 48rem) {
    top: 6rem;
  }

  @media screen and (min-width: 62rem) {
    position: static;
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    align-items: center;
    font-size: 16px;
    width: auto;
    height: auto;
    min-width: auto;
    min-height: auto;
    padding: 0;
    font-weight: normal;
    background: var(--colorPrimary);
  }
}

.navItem {
  composes: grow from 'tachyons/src/_hovers.css';
  margin-left: 2.25rem;
}

.navItemOpen {
  width: 100%;
  margin-left: 0;
  text-align: center;

  @media screen and (min-width: 62rem) {
    margin-left: 2.25rem;
    width: auto;
    text-align: left;
  }
}

.navItem:hover {
  text-decoration: none;
}

.bar {
  display: block;
  width: 100%;
  height: 3px;
  background: white;
}

.barBlue,
.barMidBlue {
  background: var(--colorPrimary);
}

.barMid {
  composes: bar;
  margin: 4.5px 0;
}

/* Burger Menu */
.burger {
  composes: grow from 'tachyons/src/_hovers.css';
  width: 48px;
  height: 49px;
  cursor: pointer;
  border: none;
  background-color: inherit;

  @media screen and (min-width: 992px) {
    display: none;
  }
}

.burgerDetail {
  position: relative;
  transform: rotate(0deg);
  transition: 0.5s ease-in-out;
  cursor: pointer;
}

.burgerDetail span {
  display: block;
  position: absolute;
  height: 3px;
  width: 80%;
  background: #fff;
  border-radius: 9px;
  opacity: 1;
  left: 5px;
  top: 15px;
  transform: rotate(0deg);
  transition: 0.25s ease-in-out;
}

.burgerDetailWhite span {
  background: var(--colorPrimary);
}

.burgerDetail span:nth-child(1) {
  top: 16px;
}

.burgerDetail span:nth-child(2),
.burgerDetail span:nth-child(3) {
  top: 23px;
}

.burgerDetail span:nth-child(4) {
  top: 30px;
}

.burgerDetailOpen span:nth-child(1) {
  top: 28px;
  width: 0%;
  left: 50%;
}

.burgerDetailOpen span:nth-child(2) {
  transform: rotate(45deg);
}

.burgerDetailOpen span:nth-child(3) {
  transform: rotate(-45deg);
}

.burgerDetailOpen span:nth-child(4) {
  top: 18px;
  width: 0%;
  left: 50%;
}
