.footer {
  background: var(--colorPrimary);
  padding: 1rem 2.75rem;
  color: #fff;
  -webkit-font-smoothing: antialiased;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
}

.whiteBackground {
  background: white;
  color: #313131;
}

.container {
  opacity: 0.8;
  display: flex;
  flex-wrap: wrap;
  width: 100%;
  justify-content: center;
  margin: 0 auto;

  @media screen and (min-width: 41.5rem) {
    max-width: 850px;
  }

  @media screen and (min-width: 77.5rem) {
    max-width: 77.5rem;
    padding-bottom: 2rem;
  }
}

.block {
  max-width: 18rem;

  @media screen and (min-width: 41.5rem) {
    padding-left: 1rem;
  }
}

.title {
  padding-top: 2.5rem;
  margin: 0;
  text-transform: uppercase;
  letter-spacing: 0.125rem;
  font-size: 0.875rem;
  font-weight: normal;
}

.text {
  margin-bottom: 0;
  font-size: 1rem;
  max-width: 15rem;
}

.studio {
  composes: block;
  width: 100%;
}

.contacts {
  composes: block;
  width: 100%;

  @media screen and (min-width: 664px) {
    padding-left: 0;
  }
}

.socialBlock {
  composes: block;
  width: 100%;
}

.social {
  display: flex;
}

.socialButton {
  margin: 1rem 1rem 1rem -1rem;
  padding-left: 1rem;
  height: 48px;
  width: 48px;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
}

.buttonIcon {
  composes: grow from 'tachyons/src/_hovers.css';
  width: 100%;
  max-width: 24px;
  height: 24px;
  background: url('/assets/facebook.png') center center no-repeat;
}

.buttonIcon2 {
  composes: grow from 'tachyons/src/_hovers.css';
  width: 100%;
  max-width: 24px;
  height: 24px;
  background: url('/assets/fb-grey.png') center center no-repeat;
}

.buttonIcon3 {
  composes: grow from 'tachyons/src/_hovers.css';
  width: 100%;
  max-width: 24px;
  height: 24px;
  background: url('/assets/instagram.png') center center no-repeat;
}

.buttonIcon4 {
  composes: grow from 'tachyons/src/_hovers.css';
  width: 100%;
  max-width: 24px;
  height: 24px;
  background: url('/assets/insta-grey.png') center center no-repeat;
}

.copyright {
  composes: block;
  display: flex;
  flex-wrap: wrap;
  padding-bottom: 2rem;
  width: 100%;

  @media screen and (min-width: 41.5rem) {
    padding: 0;
  }

  @media screen and (min-width: 59.5rem) {
    margin-top: 2rem;
  }

  @media screen and (min-width: 77.5rem) {
    margin-top: 0;
  }
}

.logoLink {
  composes: grow from 'tachyons/src/_hovers.css';
  width: 85px;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  background: url('/assets/logo.png') center center no-repeat;
}

.logoGreyLink {
  composes: grow from 'tachyons/src/_hovers.css';
  width: 85px;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  background: url('/assets/logo-grey.png') center center no-repeat;

  @media screen and (min-width: 664px) {
    order: 2;
  }
}

.copyrightText {
  width: 70%;
  padding-left: 0;
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  justify-content: center;

  @media screen and (min-width: 664px) {
    order: 1;
    padding-left: 1rem;
  }
}
