.cards {
  width: 100%;
  display: flex;
  flex-wrap: wrap;
}

@media screen and (min-width: 48rem) {
  .cards {
    padding: 0 0.75rem;
  }
}

@media screen and (min-width: 62rem) {
  .cards {
    height: 30rem;
    width: 32.20339%;
    flex-direction: column;
    padding-left: 0;
  }

  .hero {
    display: flex;
    flex-wrap: wrap;
  }
}
