.page {
  display: flex;
  flex-direction: column;
}

.wrapper {
  display: flex;
  flex-direction: column;
  align-self: center;
  width: 100%;
  background: white;
}

.chatForm {
  z-index: 9999;
}

.hiddenChatForm {
  height: 0;
}
